<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">          
    <!-- Use the title from a page's frontmatter if it has one -->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "bundle" %>
    <link rel="icon" href="/documents/favicon/favicon.ico" />
<!-- Primary Meta Tags -->
    <title>Uragan By Univerbar</title>
    <meta name="title" content="Uragan By Univerbar">
    <meta name="description" content="Uragan by Univerbar: Ozone revolution">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Uragan By Univerbar">
    <meta property="og:description" content="Uragan by Univerbar: Ozone revolution">
    <meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Uragan By Univerbar">
    <meta property="twitter:description" content="Uragan by Univerbar: Ozone revolution">
    <meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
