<div class="full-w bg-white">
	<div class="site-container">
		<div class="footer">
			<div class="footer-contact">
				<div class="footer-contact-col">
					<p><strong>INFO</strong></p>
					<p>UNIVER-BAR s.r.l.</p>
					<p>Via Roma, 10 - 35015</p>
					<p>Galliera Veneta (PD) Italy</p>			
				</div>
				<div class="footer-contact-col">
					<p class="uppercase"><strong><%= t("footer.contacts") %></strong></p>
					<p><%= t("footer.tel") %> +39 049 5969764</p>
					<p>Fax +39 049 9470014</p>
					<p><a href="mailto:info@univerbar.it" >Mail: info@univerbar.it</a></p>				
				</div>
				<div class="footer-contact-col">
					<p class="uppercase"><strong><%= t('footer.tax') %></strong></p>
					<p>P.I. 00961000288</p>
					<p>C.F. 00671780260</p>
					<p>REA. PD n.159957</p>			
				</div>
				<div class="footer-contact-col">
					<p>Cap.Soc. € 51.480,00 i.v.</p>
					<p>Reg. Prod. A.E.E.</p>
					<p>IT08030000004310</p>			
				</div>
			</div>					
		</div>
	</div>
	<div class="footer-contact-banner bg-grey">
		<img src="../images/logo-ryoma.svg" alt="logo">
		<p><%= t('footer.manage') %> <strong>RYOMA MC S.r.l.</strong></p>			
	</div>
</div>
