<div class="header-container-hero bg-white">
	<video playsinline loop poster="/images/placeholder.jpg" controls autoplay>
	  <source src="https://displayxxx.s3-eu-west-1.amazonaws.com/URAGAN.mp4" type="video/mp4">
	Your browser does not support the video tag.
	</video>
</div>
