<div class="menu js-menu bg-red">
	<div class="menu-header">
		<img src="../images/logoresp.svg" alt="logo">
		<div class="menu-header-exit c-white">
			<p class="js-exit"><%= t('menudevices.close') %></p>
		</div>				
	</div>
	<div class="menu-content c-white">
		<div class="center">
			<h4 class="js-exit">Uragan</h4>
			<p class="js-exit"><%= t('menudevices.website') %></p>
		</div>
		<div class="center">
			<a href="/documents/uragan_ozone.pdf" download>			
				<h4>Ozone</h4>
				<p><%= t('menudevices.download') %></p>
			</a>				
		</div>
		<div class="center">
			<a href="https://www.univerbar.it/" target="_blank" >
				<h4>Univerbar</h4>
				<p><%= t('menudevices.company') %></p>				
			</a>
		</div>
	</div>
	<div class="menu-cta center c-white">
		<h4><a href="mailto:info@univerbar.it"><%= t('menudevices.contact')%></a></h4>
		<span class="bg-white"></span>
	</div>
</div>