<div class="section-description-container bg-grey">
    <div class="site-container">
        <div class="section-description-container-title">
            <img src="../images/uragan.png" alt="logoUragan" class="scroll-reveal">
        </div>
        <div class="section-description-container-text">
            <p class="scroll-letters"><%= t('sectiondescription.text1') %></p>
            <p class="scroll-letters"><%= t('sectiondescription.text2') %></p>
            <p class="scroll-letters"><%= t('sectiondescription.text3') %></p>
            <p class="scroll-letters"><%= t('sectiondescription.text4') %></p>
            <p class="scroll-letters"><%= t('sectiondescription.text5') %></p>
        </div>
    </div>
</div>
<div class="section-description-images">
    <div class="big_bg bg-grey end-trigger">
        <img src="../images/imgSea.png" alt="sea" class="js-parallax" data-speed="1.2">
    </div>
</div>