<div class="full-w bg-white">
    <div class="site-container">
        <div class="section-quote-container bg-white ">
            <div class="quote_carousel js-slider scroll-reveal">
                <div class="quote_carousel_container">
                    <div class="quote_carousel_slide c-black">
                        <h1><i>"<%= t('sectionquote.text1') %>"</i></h1>
                        <p class="c-black"><%= t('sectionquote.sub') %></p>
                    </div>
                    <div class="quote_carousel_slide c-black">
                        <h1><i>"<%= t('sectionquote.text2') %>"</i></h1>
                        <p class="c-black"><%= t('sectionquote.sub') %></p>
                    </div>
                    <div class="quote_carousel_slide c-black">
                        <h1><i>"<%= t('sectionquote.text3') %>"</i></h1>
                        <p class="c-black"><%= t('sectionquote.sub') %></p>
                    </div>
                </div>
                <div class="quote_carousel_pagination"></div>
            </div>
        </div>
    </div>
</div>