<div class="full-w bg-white">
	<div class="section_carousel scroll-reveal">
		<div class="site-container">
			<div class="section_carousel-title c-black">
				<p><%= t('sectioncarousel.host')%></p>		
			</div>
		</div>				
	<div class="site-container">
		<div class="quote_carousel full-w js-slider">
			<div class="quote_carousel_container">
				<div class="quote_carousel_slide">
					<img src="../images/01.jpg" alt="">
				</div>
				<div class="quote_carousel_slide">
					<img src="../images/02.jpg" alt="">
				</div>
				<div class="quote_carousel_slide">
					<img src="../images/03.jpg" alt="">
				</div>
				
			</div>
			<div class="quote_carousel_pagination">
					
			</div>
		</div>
	</div>
</div>	
</div>
