<div class="full-w bg-white">
	<div class="section-images">
		<div class="section-images_contained_image">
			<video playsinline autoplay loop muted>
				<source src="/videos/gif1.mp4" type="video/mp4">
			</video>
		</div>
		<div class="bg-grey">
			<div class="site-container">
				<div class="section-images_grid">
					<div class="section-images_col">
						<video playsinline autoplay loop muted>
							<source src="/videos/gif2.mp4" type="video/mp4">
						</video>
					</div>
					<div class="section-images_col">
						<div class="section-images_specs">
							<p><strong>3,9 Kw</strong></p>
							<p><%= t('sectionimages.col1') %></p>					
						</div>
						<div class="section-images_specs">
							<p><strong>290 mm</strong></p>
							<p><%= t('sectionimages.col2') %></p>						
						</div>
						<div class="section-images_specs">
							<p><strong>40x40 cm</strong></p>
							<p><%= t('sectionimages.col3') %></p>						
						</div>
					</div>
					<div class="section-images_col pdf">		
						<div class="section-images_cta bg-red">
							<div class="section-images_cta_col">
								<a href="/documents/Uragan - Univerbar.pdf" download><img src="/images/pdfIcon.png"></a>
							</div>
							<div class="section-images_cta_col c-white">
								<p><%= t('sectionimages.data1') %><br><%= t('sectionimages.data2') %><br><%= t('sectionimages.data3') %></p>					
							</div>				
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
