<div class="loader"></div>
<%= partial './pages/backtotop' %>
<%= partial './pages/infoButton' %>
<%= partial './pages/header' %>
<%= partial './pages/hero_video' %>
<%= partial './pages/sectionQuote' %>
<%= partial './pages/sectionDescription' %>
<%= partial './pages/sectionImages' %>
<%= partial './pages/sectionCarousel' %>
<%= partial './pages/footer' %>
<%= partial './pages/menuDevices' %>
<img src="../images/washMImage.png" alt="washMachine" class="fixed-image-machine js-parallax" data-speed="2.5" data-el=".section-description-container">