.back{
	position: absolute;
	bottom: 32px;
	right: 32px;
	width: 60px;
	height: 60px;
	border-radius: 25%;
	z-index: 30;
	cursor: pointer;
	opacity: 0;
	transition: $time;
	&:hover{
		background: red;
	}
	@include break(medium) {
		width: 34px;
		height: 34px;
	}	
	i{
    color: red;
    font-size: 36px;
    display: inline-block;
    text-align: center;
	vertical-align: -webkit-baseline-middle;
    width: 60px;
    height: 60px;
    transition: $time;
	&:hover{
		color: white;
	}
	@include break(medium) {
		font-size: 20px;
		width: 34px;
		height: 34px;
	}
	}
	&.fixed {
	position: fixed;
	z-index:1000;
	cursor:pointer;
	opacity: 1;		
	}
}