html {
	&.hidden {
		overflow: hidden;
	}

}

.big_bg {
	position: relative;
	height: 0;
	width: 100%;
	padding-bottom: 45%;
	img {
		width: 100%;
		height: 100%;
		object-fit:cover;
		top: 0;
		left: 0;

		position: absolute;
	}
}

.site-container{
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 40px;
	position:relative;
	z-index:z(content);
	@include break(medium) {
		width: 100vw;
		padding: 0 padding(2);
		margin: 0;
	}
}
.full-w{
	width: 100%;
	position: relative;
	z-index: z(content);
}

.fixed-image-machine {
	position: fixed;
	right: 0;
	top: 0;
	width: 40%;
	height: auto;
	mix-blend-mode:multiply;
	@include break(medium) {
		top: 25%;
		opacity: 0.7;
	}
}
.border{
	width:5%;
	height: 1px;
	display: block;
	margin: padding(4) 0 0;
	@include break(medium) {
		margin: padding(2) 0 0;
	}
}
.js-exit{
	cursor:pointer;
}
