.footer{
	display: flex;
	flex-wrap:wrap;
	&-contact{
		flex: 0 0 100%;
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		&-col{
			flex: 0 0 50%;
			align-self: flex-start;
			padding-bottom: padding(8);
			padding-left: padding(4);
			font-size: size(tmedium);
			a{
				color: color(black);
				&:active{
					color:color(black);
				}
			}
			@include break(medium) {
				padding: padding(4) 0;
				font-size: size(tsmall);
			}
		}
		&-banner{
			flex: 0 0 100%;
			padding: padding(2) padding(10);
			display: flex;
			flex-wrap:wrap;
			align-items: center;
			font-size: 10px;
			:nth-child(2){
				flex: 1;
				padding-left: padding(2);
			}
			@include break(medium) {
				padding: padding(2);
			}
		}
	}
}