.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: White;
	z-index: 1000;
	&.loaded {
		pointer-events: none;
	}
}

.header-container{
	&-logo{
		width: 25%;
		max-width: 200px;
		position: absolute;
		top: 32px;
		left: 16px;
		z-index: 20;
		@include break(mobile) {
			width:50%;
		}
		img{
			width: 100%;
			height: 100%;
		}
	}		
	&-hero{
		width: 100%;
	    height: 100vh;
	    position: relative;
	    overflow: hidden;
	    z-index: z(content);
		video{
			width: 100%;
			height: 100%;
			object-fit:cover;
		    background:transparent url("/images/placeholder.jpg") no-repeat 0 0;	
		    background-size: cover;	
		}
		@include break(mobile) {
			height: 50vh;
		}
	}
}