.info-button{
	width:60px;
	height: 60px;
	border-radius:50%;
	position:absolute;
	top: padding(4);
	right: padding(2);
	font-size: size(header);
	cursor:pointer;
	transition: opacity ease .2s;
	opacity: 1;
	z-index: z(menu);
	@include break(medium) {
		font-size: size(txsmall);
		top: padding(4);
		right: padding(2);
		width: 34px;
		height: 34px;
	}
	p{
		@include abs-center();

	}
	&.fixed {
		position: fixed;
		z-index:1000;
		cursor:pointer;		
	}
	&.right {
		opacity: 0;
		pointer-events:none;
	}
}