.menu{
	width:100%;
	height:100vh;
	position: fixed;
	top:0;
	right: -100%;
	z-index: z(menu);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	@include break(medium) {
		overflow: auto;
		display: block;
	}	
	&-header{
		flex: 0 0 100%;
		padding: 0 padding(8);
		display:flex;
		flex-wrap:wrap;
		align-items: center;
		justify-content:space-between;
		@include break(medium) {
			padding: padding(2);
		}
		img{
			width: 25%;
			max-width: 200px;	
			@include break(medium) {
				width: 40%;
			}
		}	
	}

	&-content{
		padding: 0 padding(4);
		flex: 0 0 100%;
		display: flex;
		flex-wrap: wrap;
		align-items:center;
		@include break(medium) {
			padding: padding(4) padding(2) 0;
		}		
		.center{
			padding: padding(2);
			font-size: 60px;
			flex: 0 0 33%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			@include break(medium) {
				font-size: 32px;
				padding: padding(2) 0;
				flex: 0 0 100%;
				justify-content: flex-start;
			}
			a{
				color:white;
				&:visited,&:active{
					color:white;
				}
			}
			p{
				font-size: 16px;
				width: 100%;
				text-align:center;
				@include break(medium) {
					text-align:left;
				}
			}
			h4{
				line-height: 1;
				margin-bottom: 8px;
				position: relative;
				&:after {
					content:'';
					position: absolute;
					bottom: 0px;
					left: 50%;
					height: 4px;
					width: 0;
					transform:translateX(-50%);
					background-color: White;
					transition:all ease .4s;
				}
				&:hover {
					&:after {
						width: 98%;
					}
				}
			}
		}
	}
	&-cta{
		width: 100%;
		padding: padding(4);
		position: relative;
		font-size: 60px;
		text-align: center;
		@include break(medium) {
			padding: padding(10) padding(2);
			font-size: 32px;
			text-align: left;
			align-self: end;
		}
		a{
			color:white;
			&:visited,&:active{
				color:white;
			}
		}
		
		span{
			width: 24px;
			height: 3px;
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			padding: 0;
			@include break(medium) {
				left: 0;
				margin-top: 16px;
				margin-left: 16px;
			}
		}
	}

}