.quote_carousel{
	width: 100%;
	overflow: hidden;
	position: relative;
	&_container {
		display: flex;
		padding-bottom: padding(10);
	}
	&_slide {
		flex: 0 0 100%;
		padding: padding(4);
		@include break(medium) {
			padding: padding(2) 0;
		}
		h1{
			font-size: size(txlarge);
			font-weight: 900;
			@include break(medium) {
				font-size: size(tlarge);
			}
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
	&_pagination {
		position: absolute;
		z-index:1000;
		bottom: 10px;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			cursor:pointer;
			margin: 0 4px;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: color(grey);
			border: 1px solid color(grey);
			cursor: pointer;
			@include break(medium) {
				width: 12px;
				height: 12px;
				opacity: 0.5;
			}			
			&.active {
				background-color: color(white);
				width: 20px;
				height: 20px;
				@include break(medium) {
					width: 15px;
					height: 15px;
					opacity: 0.5;
				}	
			}
		}	
	}
}