.section-description-container{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: padding(10);
	@include break(medium) {
		padding-bottom: padding(2);
	}
	&-title{
		width: 40%;
		display: block;
		padding: padding(10) 0;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@include break(medium) {
			padding: padding(5) 0;
		}
		@include break(iphone) {
			width: 70%;
		}
	}
	&-text{
		width: 50%;
		@include break(medium) {
			padding:padding(2) 0;
			width: 100%;
		}	
		h1{
			font-weight: bold;
		}	
		p{
			font-size: 32px;
			padding: padding(2) 0;
			@include break(medium) {
				font-size: size(tmedium);
			}
		}
	}
}