.section_carousel{
	width: 100%;
	height: 100%;
	padding-bottom:padding(5);
	&-title{
		width:100%;
		display: block;
		padding: padding(10) padding(4) 0;
		font-size: size(tlarge);
		@include break(medium) {
			font-size: size(tsmall);
			padding: padding(4) 0 0;
		}
	}
}