.section-images {
	overflow: hidden;
	position: relative;
	img {
		width: 100%;
		line-height: 0;
		display: block;
	}
	&_contained_image {
		padding:padding(5);
		video{
			width:100%
		}
		@include break(medium) {
			padding: padding(2);
		}
	}
	&_grid {
		display: flex;
		flex-wrap:wrap;
		margin: 0 -20px;
		position: relative;
    	min-height: 50vh;
    	@include break(medium) {
    		margin: 0;
    	}
	}
	&_col {
		flex: 0 0 50%;
		padding: 40px 20px;
		overflow: hidden;
		@include break(medium) {
			flex: 0 0 100%;
			max-height:80vh;
			padding: padding(2) 0;
			&:nth-child(1) {
				order: 2;
			}
			&:nth-child(2) {
				order: 1;
			}
			&:nth-child(3) {
				order: 3;
			}			
		}			
		video{
			width:100%;
			height: 100%;
			object-fit:cover;
			@include break(medium) {
				object-fit:contain;
			}
		}
		
		img {
			height: 100%;
			object-fit:cover;
		}
		&.pdf{
			position: absolute;
			bottom: 0;
			left: 50%;
			@include break(medium) {
				position: relative;
				left:0;
			}			
		}

	}
	&_specs {
		margin-bottom: padding(2);
	}
	&_cta {
		min-width: 500px;
		display: flex;
		flex-wrap:wrap;
		justify-content:center;
		align-items:center;
		@include break(medium) {
			min-width: 100%;
		}
		&_col {
			text-align: center;
			padding: padding(1);
			flex: 1;
			&:first-child {
				flex: 0 0 100px;				
			}
			@include break(medium) {
				text-align:left;
				padding:padding(2);
				p {
					padding-left: padding(2);					
				}
			}
			img {
				width: 100%;
				height: 100%;
				cursor:pointer;
			}
		}
	}
}