@import "params";
@import "fontfaces";
@import "reset";
/******************
 * GRID
 ****************/

$cols: 12;
$col-size: 100 / $cols ;

@function col( $num, $unit: "%" ) {
  @return #{$col-size * $num}#{$unit};
}


@function padding($num: 1) {
  @return $padding * $num;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: col($i);
  }
}

[class*="col-"]:last-child {
  margin-right: -1em;
}

@mixin hideScrollbars() {

  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar { 
    display: none; 
    width: 0; height: 0;
  }
  
  &::-moz-scrollbar { 
    display: none; 
  }
  &::-ms-scrollbar { 
    display: none; 
  }

  *::-webkit-scrollbar { 
    display: none; 
  }
  *::-moz-scrollbar { 
    display: none; 
  }
  *::-ms-scrollbar { 
    display: none; 
  }
}

/**********
 * UTILS
 **********/ 

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@mixin abs-center(){
  top:50%;
  left: 50%;
  position: absolute;
  transform:translateX(-50%) translateY(-50%);
}


@function z($key) {
  @if map-has-key($zindex, $key) {
    @return map-get($zindex, $key);
  }

  @warn "Unknown `#{$key}` in $zindex.";
  @return null;
}

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

@function size($key) {
  @if map-has-key($sizes, $key) {
    @return map-get($sizes, $key);
  }

  @warn "Unknown `#{$key}` in $sizes.";
  @return null;
}
// Color and background classes autogeneration
@each $key in map-keys($colors) {
  .c-#{$key} {
    color: map-get($colors, $key);
  }

  .b-#{$key} {
    border-color: map-get($colors, $key)!important;
  }

  .bg-#{$key} {
    background-color: map-get($colors, $key);
  }
}

@mixin transition($time: $time, $ease: $ease, $props: all) {
  transition: $props $time $ease;
}

@mixin break($breakpoint) { 
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin min-break($breakpoint) { 
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint) + 1px}) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin scroll() {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

@mixin font( $size, $line-height: none ) {
  font-size: $size;
  @if $line-height == none {
    line-height: $size;
  } @else {
    line-height: $line-height;
  }
}

@mixin antialias() {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

@mixin hover() {
  @include break(medium) {
    &:active {
      @content;
    }
  }
  @include min-break(medium) {
    &:hover {
      @content;
    }
  }
}

@mixin fontBreak( $base, $maxScales: none, $minScales: none ) {

  $size: nth($base, 1);
  $line-height: nth($base, 2);

  font-size: $size;
  line-height: $line-height;

  @if $maxScales != none {
    @each $key in map-keys($maxScales) {
      $values: map-get($maxScales, $key);
      $scale: nth($values, 1);
      $lh: nth($values, 2);
      $min: nth($values, 3);
      @include break( $key ) {
        $local_size: max( round($size * $scale ), $min );
        font-size: $local_size;
        line-height: $lh;
      }
    }
  }
  
  @if $minScales != none {
    @each $key in map-keys($minScales) {
      $values: map-get($minScales, $key);
      $scale: nth($values, 1);
      $lh: nth($values, 2);
      $max: nth($values, 3);
      @include min-break( $key ) {
        $local_size: min( round($size * $scale ), $max );
        font-size: $local_size;
        line-height: $lh;
      }
    }
  } 
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
 
