/**
 * Params
 */

$header_h: 115px;

// call it with
// padding( padding_times )
// Example: padding: padding(2); -> equal to -> padding: 16px; 
$padding: 8px;

// Call it with
// z-index: color( base );
$colors: (
	white: #fff,
	black: #000,
	grey: #EAEAEA,
	red: #FF0000,
	blue:#002AFF,
);

$time: 0.2s;
$ease: cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Call it with
// z-index: z( header );
$zindex: (
	content: 10,
	bg: 1,
	menu : 1000
);

// Call it with
// @include break( medium ) { content... }
$breakpoints: (
	largeScreen : 1680px,
	desktop     : 1279px,
	medium 		: 1024px,
	tablet   	: 960px,
	mobile      : 640px,
	iphone 		: 320px,
);

// Call it with
// size(key)
$sizes: (
	header: 16px,
	secQuoteTitle : 30px,
	secQuoteH1: 70px,
	secDescr: 40px,
	secText: 16px,
	secCarouselText: 16px,
	txsmall: 10px,
	tsmall: 12px,
	tmedium: 16px,
	tlarge: 30px,
	txlarge: 60px
);