@import 'fontfaces';
@import 'params';


//-------------------------------
// TYPO FILES

@import './fontfaces';

html,
body {
	@include antialias();
  font-family: 'Poppins', sans-serif;  
}

::selection {
  background-color: color(black); /* Required when declaring ::selection */
  color: color(white);
  text-shadow: none;
}
/*
.light {
	font-weight: 100;
}

.medium {
	font-weight: 500;
}

.bold {
	font-weight: 900;
}
*/


// Font utils


.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.downcase,
.lowercase {
  text-transform: lowercase!important;
}

.upcase,
.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}
